
body {
    background: black url("pictures/FrankTraquir(R).JPG") right;
    background-image: contain;
    background-repeat: no-repeat;

    color: white;
    text-align: left;
}

h1 {
    font-family: 'Indie Flower', cursive;
}
